ul{
    list-style-type: none;
    background-color: aqua;
    padding: 0px;
    overflow: hidden;
}
li{
    display: inline;
    background-color:red;
    padding: 5px;
    margin: 0px;
}
a{
    color: whitesmoke;
}